<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Blog Post!</title>
</head>
<body>
<header th:replace="partials/navbar"></header>

<!-- Include the header partial -->
<section th:replace="partials/header"></section>

<h3>Add a blog post!</h3>

<form method="post" action="/posts/create">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Enter a title">

    <label for="body">Body</label>
    <textarea id="body" name="body" placeholder="Enter a blog post body"></textarea>

    <button type="submit">Save it!</button>
</form>

<!-- Include the footer partial -->
<footer th:replace="partials/footer"></footer>

</body>
</html>