<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:replace="partials/navbar"></header>

<!-- Include the header partial -->
<section th:replace="partials/header"></section>

<div th:each="post : ${posts}">
  <p th:text="${post.getTitle()}" />
  <p th:text="${post.getBody()}" />

  <!-- Display the email of the user who created the post -->
<!--  <p th:text="${post.getUser().getEmail()}" />-->

</div>

<!-- Include the footer partial -->
<footer th:replace="partials/footer"></footer>

</body>
</html>
