<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Roll Dice</title>
</head>
<body>
<header th:replace="partials/navbar"></header>

<!-- Include the header partial -->
<section th:replace="partials/header"></section>
<h1>Guess a Number</h1>
<p>Choose a number from 1 to 6:</p>
<ul>
  <li><a th:href="@{/roll-dice/1}">1</a></li>
  <li><a th:href="@{/roll-dice/2}">2</a></li>
  <li><a th:href="@{/roll-dice/3}">3</a></li>
  <li><a th:href="@{/roll-dice/4}">4</a></li>
  <li><a th:href="@{/roll-dice/5}">5</a></li>
  <li><a th:href="@{/roll-dice/6}">6</a></li>
</ul>

<!-- Include the footer partial -->
<footer th:replace="partials/footer"></footer>
</body>
</html>

